*{
box-sizing: border-box;
padding: 0px;
margin: 100;
}

body {
    Background: lightgrey;
    color:black;
    font-family:'Courier New', Courier, monospace;
   
}

h1{
text-decoration: wavy;
font-style:oblique;
text-align:center;
padding-top: 50px;

}

a {
    text-decoration:underline;
    color:black;
}

img.one{
    width: 500px;
    float:left;
    margin-right: 10px;
    margin-left: 10px;
}

img.two{
    width: 100px;
    float:right;
    margin-right: 10px;
    margin-left:10px;
}


img.writ{
    width:40vw;
}

img.bottom{
    width:95vw;
}

div.one{
    text-align:center;
}

li.one{
    display:inline;
    text-align: center;
    padding: 50px;
   background-color:blanchedalmond;
}

img.proj{
    width:40vw

    
}

@media screen and (min-width:1065px) {
    form{
        width:50%;
        margin:3em auto;
    }
}

label{
    display:block;
    font-weight: 700;
    margin-bottom:0.5em;
}

.form-input{
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size:16px;
    font-weight: 400;
    padding: 1em;
    margin-bottom: 1.5em;
    width: 100%;
}

.form-input:focus{
    outline:none;
    border:2px solid blanchedalmond;
}

[type="submit"] {
    background: rgb(144, 38, 144);
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 4px;
    border:0;
    padding: .5em;
    cursor:pointer;
}

textarea{
    height:150px;
    resize: vertical;
}

.error {
    border-color:red;
}

.error-message{
    color:red;
    margin:-1em 0 -1.5em;
}